# ======================
# Spark
# ======================
resultados/
chk/
spark-warehouse/
metastore_db/
derby.log

# ======================
# Jupyter
# ======================
.ipynb_checkpoints/
*.ipynb~

# Notebooks duplicados/autoguardados
*(*).ipynb

# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/

# ======================
# OS
# ======================
.DS_Store
Thumbs.db
