# .env.example
X_API_KEY=pon_aqui_tu_api_key
X_API_SECRET=pon_aqui_tu_api_secret
X_ACCESS_TOKEN=pon_aqui_tu_access_token
X_ACCESS_TOKEN_SECRET=pon_aqui_tu_token_secret

# Configuración App
FLASK_ENV=development