# PostgreSQL (RDS)
PGHOST=your-rds-endpoint.rds.amazonaws.com
PGPORT=5432
PGUSER=your_db_user
PGPASSWORD=your_db_password
PGDATABASE=postgres

# AWS
AWS_REGION=eu-north-1
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key

# Glue / S3
S3_BUCKET=f1-datalake-edem2526
GLUE_DATABASE=your_glue_database_name
