# Copia este fichero a .env y rellena los valores del output de Terraform:
#   terraform output aurora_endpoint
#
DB_HOST=<aurora-endpoint>.rds.amazonaws.com
DB_NAME=almacen_db
DB_USER=almacen_user
DB_PASS=TuPasswordSegura123!
