# PHASE 1 — LOCAL (Docker):
POSTGRES_HOST=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=

# PHASE 2 — AWS (Aurora RDS):
RDS_HOST=
RDS_DB=
RDS_USER=
RDS_PASSWORD=
RDS_PORT=

# PHASE 3 — AWS (Redshift Serverless):
REDSHIFT_HOST=
REDSHIFT_DB=
REDSHIFT_USER=
REDSHIFT_PASSWORD=
REDSHIFT_PORT=

# PHASE 4 — AWS (S3):
AWS_S3_BUCKET=
AWS_GLUE_DATABASE=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=

# PHASE 5 — AWS (Athena):
AWS_DEFAULT_REGION=